# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://ftononyogflcgfqbyuvo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_1DSIHO4H5bqv8kFiSE2Rig_RfnGNS57
# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret
STRIPE_PRO_PRICE_ID=your_stripe_pro_price_id
STRIPE_PRO_ANNUAL_PRICE_ID=your_stripe_pro_annual_price_id

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
